@media screen and (max-width: 768px) and (min-width: 320px) {
	.header {
		.menu-btn {
			display: block;
		}
		.header__wrap {
			display: flex;
			justify-content: space-between;
		}
	}
	.header__logo {
		margin-left: 1.06em;
		margin-top: 1.69em;
	}
	.header__star {
		margin-top: 1.69em;
	}
}

.menu-btn {
	display: none;
	align-items: center;
	border-radius: 1.25em;
	width: 3.5em;
	height: 3.5em;
	cursor: pointer;
	z-index: 1;
	border: 2px solid #ffffff;
	margin-right: 1em;
	margin-top: 1.69em;
}
.menu-btn__img {
	margin: 1.25em 1.25em 1.25em 1.25em;
}
.menubox {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	left: -100%;
	max-width: 180px;
	height: 100%;
	margin: 0;
	padding: 1.25em 0;
	list-style: none;
	background-color: #eceff1;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
	transition-duration: 0.25s;
}
.menu-item {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.63em, 1em, 0.63em, 1em;
	border-radius: 1.25em;
	border: 1px;
	gap: 0.75em;
	border: 1px solid #ffffff;
	margin-left: 1.25em;
	margin-right: 2em;
	margin-bottom: 1.38em;
}
.menu-item:hover {
	background-color: #cfd8dc;
}
#menu-toggle {
	opacity: 0;
	display: none;
}
#menu-toggle:checked ~ .menubox {
	visibility: visible;
	left: 0;
}
.menu__img {
	width: 1em;
	height: 1em;
	fill: #374957;
	margin-left: 1em;
}
.menu__text {
	font-family: 'Manrope';
	font-size: 1em;
	font-weight: 700;
	line-height: 1.38em;
	letter-spacing: 0em;
	text-align: left;
	color: #374957;
	margin-right: 1em;
}
@media screen and (max-width: 1200px) and (min-width: 769px) {
	.header {
		.menu-btn {
			display: block;
		}
		.header__wrap {
			display: flex;
			justify-content: space-between;
		}
		.header__logo {
			margin-left: 2.13em;
		}
		.header__star {
			margin-top: 38px;
		}
		.menu-btn {
			margin-top: 38px;
		}
	}
}
