@media screen and (min-width: 1201px) {
	.footer__arrow {
		display: none;
	}
	.footer__container {
		background: #202020;
	}
	.footer__wrapper-first {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 78px;
		letter-spacing: 0em;
		padding-top: 3%;
		cursor: pointer;
	}
	.footer__first-block {
		display: flex;
		width: 63%;
		height: 36%;
		padding-top: 3%;
		padding-bottom: 3%;
		border-radius: 139px;
		border: 1px solid #f2f2f2;
	}
	.footer__sun {
		color: #ffffff;
		width: 12%;
		height: 56%;
		border: 4px;
		margin-left: 5%;
		margin-right: 6%;
	}
	.footer__text {
		display: flex;
		flex-direction: column;
		max-width: 65%;
	}
	.footer__title {
		font-family: 'DynaPuff', system-ui;
		font-size: 48px;
		font-weight: 700;
		line-height: 58px;
		letter-spacing: 0em;
		text-align: center;
	}
	.footer__feedback {
		display: flex;
		margin-top: 17px;
	}
	.footer__subtitle {
		display: flex;
		font-family: 'Manrope', sans-serif;
		font-size: 24px;
		font-weight: 500;
		line-height: 33px;
		letter-spacing: 0em;
		text-align: center;
	}
	.footer__arow {
		width: 55px;
		height: 26px;
		border: 2px;
		align-items: center;
	}
	.footer__second-block {
		width: 100%;
		margin-top: 163px;
		margin-bottom: 21px;
	}
	.footer__wrapper-second {
		display: flex;
		justify-content: center;
	}
	.twitch {
		width: 24px;
		height: 24px;
		margin-right: 34px;
	}
	.twitter {
		width: 24px;
		height: 24px;
		margin-right: 34px;
	}
	.instagram {
		width: 24px;
		height: 24px;
		margin-right: 34px;
	}
	.linkedin {
		width: 24px;
		height: 24px;
	}
	.footer__copyright {
		font-family: 'Manrope', sans-serif;
		font-size: 16px;
		font-weight: 500;
		line-height: 22px;
		letter-spacing: 0em;
		text-align: center;
		color: #ffffff;
		margin-bottom: 40px;
	}
}
