@media screen and (max-width: 1200px) and (min-width: 769px) {
	.footer__arrow {
		display: none;
	}
	.footer {
		background: #202020;
	}
	.footer__wrapper-first {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.footer__first-block {
		display: flex;
		justify-content: space-around;
		width: 93%;
		margin-top: 24%;
		border-radius: 139px;
		border: 1px solid #f2f2f2;
	}
	.footer__sun {
		color: #ffffff;
		width: 14%;
		height: 72%;
		border: 4px;
		margin-left: 37px;
		margin-top: 21px;
		margin-bottom: 11px;
	}
	.footer__text {
		display: flex;
		flex-direction: column;
		max-width: 714px;
		margin-top: 21px;
		margin-right: 37px;
		margin-bottom: 21px;
	}
	.footer__title {
		font-family: 'DynaPuff', system-ui;
		font-size: 48px;
		font-weight: 700;
		line-height: 58px;
		letter-spacing: 0em;
	}
	.footer__feedback {
		display: flex;
		margin-top: 17px;
	}
	.footer__subtitle {
		display: flex;
		font-family: 'Manrope', sans-serif;
		font-size: 24px;
		font-weight: 500;
		line-height: 33px;
		letter-spacing: 0em;
		justify-content: left;
	}
	.footer__arow {
		width: 55px;
		height: 26px;
		border: 2px;
		align-items: center;
	}
	.footer__second-block {
		width: 100%;
		margin-top: 113px;
		margin-bottom: 21px;
	}
	.footer__wrapper-second {
		display: flex;
		justify-content: center;
	}
	.twitch {
		width: 18px;
		height: 20px;
		margin-right: 34px;
	}
	.twitter {
		width: 22px;
		height: 18px;
		margin-right: 34px;
	}
	.instagram {
		width: 24px;
		height: 24px;
		margin-right: 34px;
	}
	.linkedin {
		width: 24px;
		height: 24px;
	}
	.footer__copyright {
		font-family: 'Manrope', sans-serif;
		font-size: 16px;
		font-weight: 500;
		line-height: 22px;
		letter-spacing: 0em;
		text-align: center;
		color: #ffffff;
		margin-bottom: 40px;
	}
}
