@media screen and (max-width: 768px) and (min-width: 320px) {
	.footer__arow-planschet {
		display: none;
	}
	.footer {
		background: #202020;
	}
	.footer__wrapper-first {
		display: flex;
		justify-content: center;
	}
	.footer__first-block {
		display: flex;
		justify-content: space-around;
		max-width: 342px;
		margin-top: 53px;
		border-radius: 139px;
		border: 1px solid #f2f2f2;
	}
	.footer__sun {
		color: #ffffff;
		width: 49px;
		height: 51px;
		border: 4px;
		margin-left: 25px;
		margin-top: 11px;
		margin-bottom: 11px;
	}
	.footer__text {
		display: flex;
		flex-direction: column;
		max-width: 203px;
		margin-left: 16px;
		margin-right: 25px;
		margin-top: 11px;
		margin-bottom: 11px;
	}
	.footer__title {
		font-family: 'DynaPuff', system-ui;
		font-size: 20px;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: center;
	}
	.footer__feedback {
		display: flex;
		margin-top: 4px;
		margin-left: 0.06%;
	}
	.footer__subtitle {
		font-family: 'Manrope', sans-serif;
		font-size: 15px;
		font-weight: 500;
		line-height: 20px;
		letter-spacing: 0em;
		text-align: center;
	}
	.footer__arow {
		width: 16px;
		height: 3px;
		border: 1.4px;
		margin-left: 24px;
	}
	.footer__second-block {
		width: 100%;
		margin-top: 113px;
		margin-bottom: 21px;
	}
	.footer__wrapper-second {
		display: flex;
		justify-content: center;
	}
	.twitch {
		width: 18px;
		height: 20px;
		margin-right: 34px;
	}
	.twitter {
		width: 22px;
		height: 18px;
		top: 2.99px;
		left: 1px;
		margin-right: 34px;
	}
	.instagram {
		width: 24px;
		height: 24px;
		margin-right: 34px;
	}
	.linkedin {
		width: 24px;
		height: 24px;
	}
	.footer__copyright {
		font-family: 'Manrope', sans-serif;
		font-size: 14px;
		font-weight: 500;
		line-height: 19px;
		letter-spacing: 0em;
		text-align: center;
		color: #ffffff;
		margin-bottom: 40px;
	}
}
