.nav {
	display: none;
	flex-direction: column;
	justify-content: center;
	max-width: 11.25em;
}
@media screen and (max-width: 768px) and (min-width: 320px) {
	.header__subtitle {
		max-width: 20.38em;
		margin-top: 20.56em;
		margin-left: 1.31em;
		box-sizing: border-box;
	}
	._container {
		max-width: 768px;
	}
	.header__subtitle--text {
		font-family: 'DynaPuff', system-ui;
		font-size: 48px;
		font-weight: 700;
		line-height: 58px;
		letter-spacing: 0em;
		text-align: left;
	}
	.header__container {
		background: linear-gradient(252.94deg, #ffee32 -13.48%, #d6d6d6 125.48%);
		padding-bottom: 149px;
	}
}
@media screen and (max-width: 1200px) and (min-width: 769px) {
	.header__subtitle {
		max-width: 33em;
		margin-top: 11.19em;
		margin-left: 2.13em;
		box-sizing: border-box;
	}
	._container {
		max-width: 1200px;
	}
	.header__subtitle--text {
		font-family: 'DynaPuff', system-ui;
		font-size: 80px;
		font-weight: 700;
		line-height: 96px;
		letter-spacing: 0em;
		text-align: left;
	}
	.header__container {
		background: linear-gradient(252.94deg, #ffee32 -13.48%, #d6d6d6 125.48%);
		padding-bottom: 130px;
	}
}
@media screen and (min-width: 1201px) {
	.header__container {
		background: linear-gradient(252.94deg, #ffee32 -13.48%, #d6d6d6 125.48%);
		padding-bottom: 119px;
		box-sizing: border-box;
	}
	.header__box {
		position: fixed;
		width: inherit;
		display: flex;
		z-index: 10;
		background: linear-gradient(252.94deg, #ffee32 -13.48%, #d6d6d6 125.48%);
		max-width: inherit;
		margin-top: 24px;
	}
	.header__wrap {
		width: 1460px;
	}
	.header__box:hover {
		background: #202020;
	}
	.header__logo {
		display: flex;
		width: 56px;
		height: 56px;
		margin-top: 18px;
		margin-left: 191px;
		margin-bottom: 19px;
		margin-right: 28%;
	}
	.nav {
		display: flex;
		flex-direction: row;
		width: 41%;
		height: 42px;
		gap: 20px;
		// margin-left: 45%;
		margin-top: 24px;
		margin-bottom: 28px;
		padding-right: 14%;
		left: 28%;
		justify-content: flex-start;
	}
	.nav__item {
		display: flex;
		border: 1px solid #ffffff;
		border-radius: 20px;
	}
	.nav__img {
		width: 16px;
		height: 16px;
		margin: 13px 0px 13px 16px;
		color: #ffffff;
	}
	.nav__text {
		font-family: Manrope;
		font-size: 16px;
		font-weight: 700;
		line-height: 22px;
		letter-spacing: 0em;
		text-align: left;
		color: #ffffff;
		margin: 10px 16px 10px 12px;
	}
	.header__subtitle--text {
		font-family: DynaPuff;
		font-size: 80px;
		font-weight: 700;
		line-height: 96px;
		letter-spacing: 0em;
		text-align: left;
		color: #ffffff;
		margin: 491px 403px 0px 191px;
	}
}
