@media screen and (max-width: 1200px) and (min-width: 769px) {
	.third-block__first-card-wrapper {
		padding-top: 82px;
		padding-bottom: 122px;
		background: #202020;
	}
	.third-block__title {
		font-family: 'DynaPuff', system-ui;
		font-size: 80px;
		font-weight: 700;
		line-height: 96px;
		letter-spacing: 0em;
		text-align: left;
		margin-left: 32px;
	}
	.third-block__first-card {
		position: relative;
		margin: 38px 32px 0px 32px;
	}
	.third-block__link-first-card {
		max-width: 92%;
		height: 100%;
	}
	.third-block__image-first-card {
		border-radius: 40px;
		width: 100%;
		height: 414px;
		margin-bottom: 26px;
	}
	.third-block__image-first-card_star {
		position: absolute;
		width: 32%;
		height: 55%;
		left: 34%;
		top: 22%;
	}
	.third-big-block {
		display: flex;
		justify-content: space-around;
	}
	.third-block__second-card {
		width: 43%;
		position: relative;
	}
	.third-block__link-second-card {
		width: 100%;
		height: 100%;
	}
	.third-block__image-second-card {
		width: 100%;
		height: 100%;
		border-radius: 40px;
		margin-bottom: 32px;
	}
	.third-block__image-second-card_butterfly {
		position: absolute;
		width: 44%;
		height: 46%;
		left: 28%;
		top: 27%;
		z-index: 10;
	}
	.third-block__third-card {
		width: 43%;
		position: relative;
	}
	.third-block__link-third-card {
		width: 100%;
		height: 100%;
	}
	.third-block__image-third-card {
		width: 100%;
		height: 100%;
		border-radius: 40px;
	}
	.third-block__image-third-card_asterisk {
		position: absolute;
		width: 55%;
		height: 54%;
		z-index: 10;
		left: 22%;
		top: 23%;
	}
}
