@media screen and (min-width: 1201px) {
	.second-block {
		background-color: #3c3c3c;
		height: 100%;
		padding-top: 86px;
		padding-bottom: 86px;
	}
	.second-big-block {
		display: flex;
		margin-left: 13%;
		margin-right: 13%;
	}
	.second-block__first-card-wrapper {
		max-width: 73%;
		margin-left: 14%;
		border-radius: 24px;
		margin-bottom: 63px;
		background: #fffef2;
	}
	.second-block__first-card {
		box-sizing: border-box;
	}
	.second-block__link-first-card {
		width: 1010px;
		height: 498px;
		background-position: center center;
		background-size: cover;
	}
	.second-block__image-first-card {
		width: 100%;
		height: 498px;
		border-radius: 13px;
		padding: 24px 20px 20px 20px;
	}

	.second-block__title-first-card {
		font-family: 'DynaPuff', system-ui;
		font-size: 40px;
		font-weight: 600;
		line-height: 48px;
		letter-spacing: 0em;
		text-align: left;
		margin-left: 20px;
		color: #565656;
		margin-bottom: 22px;
	}
	.second-block__subtitle-first-card {
		font-family: 'Manrope', sans-serif;
		font-size: 16px;
		font-weight: 700;
		line-height: 22px;
		letter-spacing: 0em;
		text-align: left;
		color: #000000;
		margin-left: 20px;
		max-width: 580px;
		padding-bottom: 24px;
	}
	.arrow {
		position: absolute;
		padding-top: 0px;
		width: 47px;
		height: 47px;
		gap: 10px;
		box-shadow: 0px 0px 4px 0px #00000017;
		background: #ffffff;
		left: 178px;
		top: 16px;
		border-radius: 36px;
	}
	.arrow__img {
		margin: 16px 16px 16px 16px;
		width: 17px;
		height: 17px;
	}
	.second-block__second-card-wrapper {
		width: 32%;
		border-radius: 24px;
		margin-right: 3%;
	}
	.second-block__second-card {
		background-color: #fffef2;
		border-radius: 24px;
		padding: 20px 20px 20px 20px;
		box-sizing: border-box;
	}
	.second-block__image-second-card {
		border-radius: 13px;
		width: 100%;
		max-height: 338px;
	}
	.second-block__title-second-card {
		font-family: 'DynaPuff', system-ui;
		font-size: 32px;
		font-weight: 700;
		line-height: 38px;
		letter-spacing: 0em;
		text-align: left;
		color: #565656;
		margin-top: 20px;
		margin-bottom: 22px;
	}
	.second-block__subtitle-second-card {
		font-family: 'Manrope', sans-serif;
		font-size: 16px;
		font-weight: 500;
		line-height: 22px;
		letter-spacing: 0em;
		text-align: left;
		color: #000000;
	}
	.second-block__third-card-wrapper {
		width: 32%;
		margin-right: 3%;
		border-radius: 24px;
	}
	.second-block__third-card {
		background-color: #fffef2;
		border-radius: 24px;
		padding: 20px 20px 20px 20px;
		box-sizing: border-box;
	}
	.second-block__image-third-card {
		width: 100%;
		max-height: 338px;
		border-radius: 13px;
		background: #d9d9d9;
	}
	.second-block__title-third-card {
		font-family: 'DynaPuff', system-ui;
		font-size: 32px;
		font-weight: 700;
		line-height: 38px;
		letter-spacing: 0em;
		text-align: left;
		color: #565656;
		margin-top: 20px;
		margin-bottom: 22px;
	}
	.second-block__subtitle-third-card {
		font-family: 'Manrope', sans-serif;
		font-size: 16px;
		font-weight: 500;
		line-height: 22px;
		letter-spacing: 0em;
		text-align: left;
		color: #000000;
	}
	.second-block__vierte-card-wrapper {
		width: 32%;
		border-radius: 24px;
	}
	.second-block__vierte-card {
		background-color: #fffef2;
		border-radius: 24px;
		padding: 20px 20px 20px 20px;
		box-sizing: border-box;
	}
	.second-block__link-vierte-card {
		position: relative;
	}
	.second-block__image-vierte-card {
		max-height: 338px;
		width: 100%;
		border-radius: 13px;
		background: #d9d9d9;
	}
	.second-block__title-vierte-card {
		font-family: 'DynaPuff', system-ui;
		font-size: 32px;
		font-weight: 700;
		line-height: 38px;
		letter-spacing: 0em;
		text-align: left;
		color: #565656;
		margin-top: 20px;
		margin-bottom: 22px;
	}
	.second-block__subtitle-vierte-card {
		font-family: 'Manrope', sans-serif;
		font-size: 16px;
		font-weight: 500;
		line-height: 22px;
		letter-spacing: 0em;
		text-align: left;
		color: #000000;
	}
}
