@media screen and (max-width: 768px) and (min-width: 320px) {
	.vierte-block__wrapper {
		position: relative;
	}
	.vierte-block__title {
		position: absolute;
		max-width: 91.5%;
		font-family: 'DynaPuff', system-ui;
		font-size: 24px;
		font-weight: 700;
		line-height: 29px;
		letter-spacing: 0em;
		text-align: center;
		color: #ffffff;
		top: 36%;
		right: 4.25%;
		bottom: 34.7%;
		left: 4.25%;
		z-index: 10;
	}
	.vierte-block__background {
		width: 100%;
		height: 498px;
	}
}
