@media screen and (max-width: 1200px) and (min-width: 769px) {
	.second-block__vierte-card-wrapper {
		display: none;
	}
	.second-block {
		background-color: #3c3c3c;
		height: 100%;
		padding-top: 52px;
		padding-bottom: 122px;
	}
	.second-big-block {
		display: flex;
		justify-content: space-around;
	}
	.second-block__first-card-wrapper {
		max-width: 91.3%;
		margin-left: 33px;
		margin-right: 32px;
		margin-bottom: 102px;
		background-color: #fffef2;
		border-radius: 24px;
	}
	.second-block__first-card {
		box-sizing: border-box;
	}
	.second-block__image-first-card {
		border-radius: 13px;
		width: 94%;
		margin: 2% 3% 3% 3%;
	}
	.second-block__title-first-card {
		font-family: 'DynaPuff', system-ui;
		font-size: 40px;
		font-weight: 600;
		line-height: 48px;
		letter-spacing: 0em;
		text-align: left;
		margin-bottom: 22px;
		color: #565656;
		margin-left: 20px;
	}
	.second-block__subtitle-first-card {
		font-family: 'Manrope', sans-serif;
		font-size: 16px;
		font-weight: 700;
		line-height: 22px;
		letter-spacing: 0em;
		text-align: left;
		padding-bottom: 24px;
		color: #000000;
		margin-left: 20px;
		max-width: 36.25em;
	}
	.second-block__arrow {
		position: absolute;
		padding-top: 0px;
		width: 3.5em;
		height: 3.5em;
		gap: 10px;
	}
	.second-block__second-card-wrapper {
		width: 43%;
		height: 40%;
		margin-right: 4%;
	}
	.second-block__second-card {
		background-color: #fffef2;
		border-radius: 24px;
		padding: 20px 20px 20px 20px;
		box-sizing: border-box;
	}
	.second-block__link-second-card {
		max-height: 71%;
	}
	.second-block__image-second-card {
		border-radius: 13px;
		width: 100%;
	}
	.second-block__title-second-card {
		font-family: 'DynaPuff', system-ui;
		font-size: 32px;
		font-weight: 700;
		line-height: 38px;
		letter-spacing: 0em;
		text-align: left;
		color: #565656;
		margin-top: 20px;
		margin-bottom: 22px;
	}
	.second-block__subtitle-second-card {
		font-family: 'Manrope', sans-serif;
		font-size: 16px;
		font-weight: 500;
		line-height: 22px;
		letter-spacing: 0em;
		text-align: left;
		color: #000000;
	}
	.second-block__third-card-wrapper {
		width: 43%;
		margin-right: 5%;
		margin-left: 4%;
	}
	.second-block__third-card {
		background-color: #fffef2;
		border-radius: 24px;
		padding: 20px 20px 20px 20px;
		box-sizing: border-box;
	}
	.second-block__link-third-card {
		max-height: 71%;
	}
	.second-block__image-third-card {
		width: 100%;
		border-radius: 13px;
	}
	.second-block__title-third-card {
		font-family: 'DynaPuff', system-ui;
		font-size: 32px;
		font-weight: 700;
		line-height: 38px;
		letter-spacing: 0em;
		text-align: left;
		color: #565656;
		margin-top: 20px;
		margin-bottom: 22px;
	}
	.second-block__subtitle-third-card {
		font-family: 'Manrope', sans-serif;
		font-size: 16px;
		font-weight: 500;
		line-height: 22px;
		letter-spacing: 0em;
		text-align: left;
		color: #000000;
	}
}
