@media screen and (min-width: 1201px) {
	.vierte-block__wrapper {
		position: relative;
	}
	.vierte-block__title {
		position: absolute;
		max-width: 91.5%;
		font-family: 'DynaPuff', system-ui;
		font-size: 48px;
		font-weight: 700;
		line-height: 58px;
		letter-spacing: 0em;
		text-align: center;
		color: #ffffff;
		top: 303px;
		left: 190px;
		z-index: 5;
		right: 190px;
		margin-bottom: 323px;
	}
	.vierte-block__background {
		width: 100%;
		height: 50em;
	}
}
