@media screen and (max-width: 1200px) and (min-width: 768px) {
	.main-content__first-block-wrapper {
		box-sizing: border-box;
		background: #202020;
	}
	.first-block {
		display: flex;
		position: relative;
	}
	.first-block__left-side {
		max-width: 33.75em;
		gap: 2.5em;
		margin: 4.5em 1.06em 4.75em 1em;
	}
	.first-block__title {
		font-family: 'DynaPuff', system-ui;
		font-size: 3em;
		font-weight: 700;
		line-height: 58px;
		letter-spacing: 0em;
		text-align: left;
		color: #faeb49;
		width: auto;
		margin-bottom: 40px;
	}
	.first-block__subtitle {
		font-family: 'Manrope', sans-serif;
		font-size: 1em;
		font-weight: 500;
		line-height: 1.38em;
		letter-spacing: 0em;
		text-align: left;
		color: #ffffff;
		margin-bottom: 40px;
		max-width: 32.75em;
	}
	.first-block__statistick {
		display: flex;
	}
	.first-block__information {
		width: 7.25em;
		gap: 5px;
		margin-right: 6em;
	}
	.first-block__information:last-child {
		margin-right: 0px;
	}
	.first-block__number {
		font-family: 'DynaPuff', system-ui;
		font-size: 3em;
		font-weight: 700;
		line-height: 58px;
		letter-spacing: 0em;
		text-align: left;
		color: #ffffff;
	}
	.first-block__text {
		font-family: 'Manrope', sans-serif;
		font-size: 1em;
		font-weight: 700;
		line-height: 1.38em;
		letter-spacing: 0em;
		text-align: left;
		color: #ffffff;
		max-width: 4.69em;
		height: 2.75em;
	}
	.first-block__elipses {
		position: absolute;
		left: 90%;
		z-index: 10;
		box-sizing: border-box;
	}
	.first-block__elipse_left {
		position: absolute;
		width: 14.44em;
		height: 28.13em;
		border-radius: 14.44em / 28.13em;
		-moz-border-radius: 14.44em / 28.13em;
		-webkit-border-radius: 14.44em / 28.13em;
		border: 1px solid #737373;
		transform: rotate(45deg);
	}
	.first-block__elipse_right {
		position: absolute;
		width: 14.44em;
		height: 28.13em;
		border-radius: 14.44em / 28.13em;
		-moz-border-radius: 14.44em / 28.13em;
		-webkit-border-radius: 14.44em / 28.13em;
		border: 1px solid #737373;
		transform: rotate(-45deg);
	}
}
