@media screen and (max-width: 768px) and (min-width: 320px) {
	.main-content__first-block-wrapper {
		box-sizing: border-box;
		background: #202020;
	}
	.first-block {
		display: flex;
		position: relative;
	}
	.first-block__left-side {
		max-width: 21.4em;
		gap: 2.5em;
		margin: 4.5em 1.06em 4.75em 1em;
	}
	.first-block__title {
		font-family: 'DynaPuff', system-ui;
		font-size: 48px;
		font-weight: 700;
		line-height: 58px;
		letter-spacing: 0em;
		text-align: left;
		color: #faeb49;
		margin-bottom: 40px;
		width: auto;
	}
	.first-block__subtitle {
		font-family: 'Manrope', sans-serif;
		font-size: 1em;
		font-weight: 500;
		line-height: 22px;
		letter-spacing: 0em;
		text-align: left;
		color: #ffffff;
		margin-bottom: 40px;
	}
	.first-block__statistick {
		display: flex;
	}
	.first-block__information {
		width: 6.56em;
		height: 5.75em;
		gap: 5px;
		margin-right: 14px;
	}
	.first-block__information:last-child {
		margin-right: 0px;
	}
	.first-block__number {
		font-family: 'DynaPuff', system-ui;
		font-size: 36px;
		font-weight: 700;
		line-height: 43px;
		letter-spacing: 0em;
		text-align: left;
		color: #ffffff;
	}
	.first-block__text {
		font-family: 'Manrope', sans-serif;
		font-size: 16px;
		font-weight: 700;
		line-height: 22px;
		letter-spacing: 0em;
		text-align: left;
		color: #ffffff;
		max-width: 75px;
		height: 44px;
	}
	.first-block__elipses {
		position: absolute;
		left: 95%;
		top: 63px;
		z-index: 10;
		box-sizing: border-box;
	}
	.first-block__elipse_left {
		position: absolute;
		width: 168px;
		height: 320px;
		border-radius: 168px / 320px;
		-moz-border-radius: 168px / 320px;
		-webkit-border-radius: 168px / 320px;
		border: 1px solid #737373;
		transform: rotate(45deg);
	}
	.first-block__elipse_right {
		position: absolute;
		width: 168px;
		height: 320px;
		border-radius: 168px / 320px;
		-moz-border-radius: 168px / 320px;
		-webkit-border-radius: 168px / 320px;
		border: 1px solid #737373;
		transform: rotate(-45deg);
	}
}
