@media screen and (min-width: 1201px) {
	.main-content__first-block-wrapper {
		width: 100%;
		box-sizing: border-box;
		position: relative;
		background: #202020;
	}
	.first-block {
		display: flex;
	}
	.first-block__left-side {
		width: 33.75em;
		margin: 6.31em 0em 6.38em 11.94em;
		gap: 2.5em;
	}
	.first-block__title {
		font-family: 'DynaPuff', system-ui;
		font-size: 48px;
		font-weight: 700;
		line-height: 58px;
		letter-spacing: 0em;
		text-align: left;
		width: auto;
		color: #faeb49;
		margin-bottom: 40px;
	}
	.first-block__subtitle {
		font-family: 'Manrope', sans-serif;
		font-size: 16px;
		font-weight: 500;
		line-height: 22px;
		letter-spacing: 0em;
		text-align: left;
		color: #ffffff;
		margin-bottom: 40px;
	}
	.first-block__statistick {
		display: flex;
	}
	.first-block__information {
		width: 7.25em;
		height: 5.75em;
		gap: 5px;
		margin-right: 6em;
	}
	.first-block__information:last-child {
		margin-right: 0px;
	}
	.first-block__number {
		font-family: 'DynaPuff', system-ui;
		font-size: 48px;
		font-weight: 700;
		line-height: 58px;
		letter-spacing: 0em;
		text-align: left;
		color: #ffffff;
	}
	.first-block__text {
		font-family: 'Manrope', sans-serif;
		font-family: Manrope;
		font-size: 1em;
		font-weight: 700;
		line-height: 1.38em;
		letter-spacing: 0em;
		text-align: left;
		max-width: 7.25em;
		height: 1.38em;
	}
	.first-block__elipses {
		position: absolute;
		left: 82%;
		top: 0px;
		z-index: 5;
		box-sizing: border-box;
	}
	.first-block__elipse_left {
		position: absolute;
		width: 16.75em;
		height: 32em;
		border-radius: 16.75em / 32em;
		border: 1px solid #737373;
		transform: rotate(45deg);
	}
	.first-block__elipse_right {
		position: absolute;
		width: 16.75em;
		height: 32em;
		border-radius: 16.75em / 32em;
		border: 1px solid #737373;
		transform: rotate(-45deg);
	}
}
