@media screen and (min-width: 1201px) {
	.third-block__first-card-wrapper {
		padding-top: 82px;
		background: #202020;
	}
	.third-block__title {
		font-family: 'DynaPuff', system-ui;
		font-size: 80px;
		font-weight: 700;
		line-height: 96px;
		letter-spacing: 0em;
		text-align: left;
		margin-left: 195px;
	}
	.third-block__first-card {
		position: relative;

		margin: 38px 190px 26px 195px;
	}
	.third-block__link-first-card {
		max-width: 92%;
	}
	.third-block__image-first-card {
		width: 100%;
		max-height: 414px;
		border-radius: 75px;
	}

	.third-block__image-first-card_star {
		position: absolute;
		width: 25%;
		height: 65%;
		left: 39%;
		top: 18%;
	}
	.third-big-block {
		display: flex;
		margin-left: 195px;
		margin-right: 190px;
	}
	.third-block__second-card {
		width: 49%;
		height: 34%;
		position: relative;
		margin-right: 26px;
	}
	.third-block__link-second-card {
		width: 100%;
		height: 100%;
	}
	.third-block__image-second-card {
		width: 100%;
		height: 100%;
		border-radius: 40px;
		margin-bottom: 138px;
	}
	.third-block__image-second-card_butterfly {
		position: absolute;
		width: 187px;
		height: 191px;
		left: 30%;
		top: 22%;
		z-index: 5;
	}
	.third-block__third-card {
		width: 49%;
		position: relative;
		height: 34%;
	}
	.third-block__link-third-card {
		width: 100%;
		height: 100%;
	}
	.third-block__image-third-card {
		width: 100%;
		height: 100%;
		border-radius: 40px;
	}
	.third-block__image-third-card_asterisk {
		position: absolute;
		width: 45%;
		height: 54%;
		z-index: 5;
		left: 27%;
		top: 23%;
	}
}
