@media screen and (max-width: 768px) and (min-width: 320px) {
	.third-block__first-card-wrapper {
		padding-bottom: 5.31em;
		background: #202020;
	}
	.third-block__title {
		max-width: 20.43em;
		font-family: 'DynaPuff', system-ui;
		font-size: 2.25em;
		font-weight: 700;
		line-height: 2.69em;
		letter-spacing: 0em;
		text-align: left;
		margin-left: 4%;
	}
	.third-block__link-first-card {
		height: 100%;
		position: relative;
		display: flex;
	}
	.third-block__image-first-card {
		border-radius: 2.5em;
		width: 90%;
		margin-bottom: 1.25em;
		margin-left: 4%;
		margin-right: 6%;
	}
	.third-block__image-first-card_star {
		position: absolute;
		max-width: 10.75em;
		height: 10.75em;
		z-index: 10;
		left: 30%;
		top: 24%;
	}
	.third-block__link-second-card {
		height: 100%;
		position: relative;
		display: flex;
	}
	.third-block__image-second-card {
		width: 90%;
		border-radius: 2.5em;
		margin-bottom: 2em;
		margin-left: 4%;
		margin-right: 6%;
	}
	.third-block__image-second-card_butterfly {
		position: absolute;
		max-width: 8.38em;
		height: 8.56em;
		z-index: 10;
		left: 31%;
		top: 29%;
	}
	.third-block__link-third-card {
		position: relative;
		display: flex;
	}
	.third-block__image-third-card {
		width: 90%;
		border-radius: 2.5em;
		margin-left: 4%;
		margin-right: 6%;
	}
	.third-block__image-third-card_asterisk {
		position: absolute;
		max-width: 9.25em;
		height: 8.94em;
		z-index: 10;
		left: 29%;
		top: 28%;
	}
}
