@media screen and (max-width: 768px) and (min-width: 320px) {
	.second-block__third-card-wrapper {
		display: none;
	}
	.second-block__vierte-card-wrapper {
		display: none;
	}
	.second-block__third-card-wrapper {
		display: none;
	}
	.second-block {
		background-color: #3c3c3c;
		height: 100%;
		padding-top: 52px;
		padding-bottom: 85px;
	}
	.second-block__first-card-wrapper {
		margin-left: 16px;
		margin-right: 21px;
		margin-bottom: 63px;
		background-color: #fffef2;
		border-radius: 24px;
	}
	.second-block__first-card {
		width: 100%;
		padding: 16px;
		box-sizing: border-box;
	}
	.second-block__image-first-card {
		border-radius: 13px;
		width: 100%;
		margin-bottom: 20px;
	}
	.second-block__title-first-card {
		font-family: 'DynaPuff', system-ui;
		font-size: 32px;
		font-weight: 600;
		line-height: 38px;
		letter-spacing: 0em;
		text-align: left;
		color: #565656;
		margin-bottom: 22px;
	}
	.second-block__subtitle-first-card {
		font-family: 'Manrope', sans-serif;
		font-size: 15px;
		font-weight: 700;
		line-height: 20px;
		letter-spacing: 0em;
		text-align: left;
		color: #000000;
	}
	.second-block__arrow {
		position: absolute;
		padding-top: 0px;
		width: 56px;
		height: 56px;
	}
	.second-block__second-card-wrapper {
		margin-left: 16px;
		margin-right: 21px;
	}
	.second-block__second-card {
		width: 100%;
		background-color: #fffef2;
		border-radius: 24px;
		padding: 12px 12px 12px 12px;
		box-sizing: border-box;
	}
	.second-block__image-second-card {
		border-radius: 13px;
		width: 100%;
		height: 22.69em;
	}
	.second-block__title-second-card {
		font-family: 'DynaPuff', system-ui;
		font-size: 24px;
		font-weight: 700;
		line-height: 29px;
		letter-spacing: 0em;
		text-align: left;
		color: #565656;
		margin-top: 20px;
		margin-bottom: 22px;
	}
	.second-block__subtitle-second-card {
		font-family: 'Manrope', sans-serif;
		font-size: 15px;
		font-weight: 500;
		line-height: 20px;
		letter-spacing: 0em;
		text-align: left;
		color: #000000;
	}
}
